
div#conversation {
	background-color: #ffffff;
	padding: 8px;
	line-height: 1.5;
	display: none;
	color: #000033;
}
div#conversation_container {
	background-color: #ffffff;
	/* overflow: hidden */;
}
div#conversation button {
	background-color: #000000;
	color: #ccccff;
}
