
@font-face {
	font-family: typewriter;
	src: url("rough_typewriter_X_bold.ttf");
}
@font-face {
	font-family: typewriter_ie;
	src: url("rough_typewriter_X_bold.eot");
}



body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	background-color: #000022;
	color: #ffffff;
	font-family:  typewriter, typewriter_ie, Courier New, monospace;
	font-size: 12pt;
	border-collapse: always;

	/* width: 100%;
	float: left; */

/*
	scrollbar-face-color: #0000ff;
	scrollbar-shadow-color: #000066;
	scrollbar-highlight-color:#ccccff;
	scrollbar-3dlight-color: #ffffff;
	scrollbar-darkshadow-color: #000033;
	scrollbar-track-color: #000088;
	scrollbar-arrow-color: #ffffff;
	*/

}

ul {
	padding-top: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	list-style-type: none;
	margin: 0;
}
ul.room_contents_in_scroller {
	display: inline-block;
}
ul > li {
  text-indent: -5px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
ul > li:before {
  content: "- ";
  text-indent: -5px;
}


button {
	font-family: typewriter, typewriter_ie;
	font-size: inherit;
	text-decoration: none;
	cursor: pointer;
	color: #aaaaff;
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding: 0.1cm 0.5cm 0.1cm 0.5cm !important;
	border-radius: 0.25cm;
	border: 0px;
	margin: 2px;
	white-space: nowrap;
	display: inline-block;
}

/* div#wrapper {
	min-height: 200px;
} */

div#top_bar {
	background-color: #ccccff;
	color: #000033;
	/* border: 1px solid #000044; */
	padding: 8px;
}
div#title {
	padding: 0px;
	display: inline-block;
	text-transform: uppercase;
}
div#score {
	float: right;
	text-align: right;
}
div#scroller {
	height: 40%;
	overflow-y: scroll;
	background-color: #000044;
	/* border: 1px solid #000044; */
	padding: 5%;
}
div#scroller button {
	background-color: #000000;
	line-height: 1.5;
}
span.prompt {
	color: #bbbbff;
}
span.old_prompt {
	color: #9999dd;
}
span.old_message {
	color: #cccccc;
}
div#room_description_container {
	/* overflow: hidden */
	background-color: #000088;
}
div#room_description {
	overflow: stretch;
	height: auto;
	/* min-height: 30%; */
	/* border: 1px 1px 0px 1px solid #000044; */
	padding: 8px;
	background-color: #000088;

	line-height: 1.75;
}

@media (orientation: landscape){
	/* two-column layout */

	div#title {
	}

	div#score: {
	}

	div#score:before {
  		content: "Score: "
	}

	div#left-column {
		width: 50%;
		float: left;
		height: 95%;
	}
	div#scroller {
		height: 90%;
		padding: 5% 5% 5% 5%;
	}
	div#scroller:after { /* makes bottom padding work in FF/IE */
	  content: "";
	  height: 1em;
	  display: block;
	}

	div#right-column {
		width: 50%;
		float: left;
		height: 95%;
		overflow: auto;
	}

}

div#room_description button {
	background-color: #000033;
}
div#room_description span.unavailable_exit {
	color: #000088;
	padding: 0.1cm 0.5cm 0.1cm 0.5cm;
	white-space: nowrap;
}
div#wait {
	/* overflow: stretch; */
	clear: both;
	/* border: 0px 1px 1px 1px solid #000044; */
	padding: 8px;
	background-color: #000088;
	line-spacing: 1.75;
	line-height: 1.5;
	text-align: center;
}
div#wait button {
	background-color: #000033;
}

div#inventory_container {
	/* overflow: hidden */
	background-color: #000066;
}
div#inventory {
	overflow: stretch;
	height: auto;
	/* margin-left: 15%; */
	/* min-height: 10%; */
	/* border: 1px solid #000044; */
	padding: 8px;
	background-color: #000066;

	line-height: 1.75;
}

div#holding_container {
	/* overflow: hidden */
	background-color: #000066;
}
div#holding {
	overflow: stretch;
	height: auto;
	/* margin-left: 15%; */
	/* min-height: 10%; */
	/* border: 1px solid #000044; */
	padding: 8px;
	background-color: #000066;

	line-height: 1.75;
}


div#inventory button {
	background-color: #000033;
}

div#save_load_container {
}
div#save_load {
	text-align: center;
	line-height: 1.75;
}
div#save_load button {
	background-color: #000000;
}

div#saved_games {
	position: fixed;
	top: 0px;
	left: 0px;

	background-color: #111111;
	color: #ffffff;
	width: 90%;
	height: 90%;
	padding: 5%;

	display: none;

	line-height: 1.75;

}
div#saved_games button {
	background-color: #000000;
}

div#options {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #000088;
	color: #ffffff;

	width: 90%;
	min-height: 90%;
	padding: 5%;

	display: none;

	line-height: 1.75;
}

div#options button {
	background-color: #000033;
}

div#credits {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #000066;
	color: #ffffff;

	width: 90%;
	min-height: 90%;
	padding: 5%;

	display: none;

	line-height: 1.75;
}

div#credits button {
	background-color: #000033;
}
