
/* css for DETECTIVELAND - this will override the defaults in versifier.css */

@font-face {
	font-family: typewriter;
	src: url("rough_typewriter_X_bold.ttf");
}
@font-face {
	font-family: typewriter_ie;
	src: url("rough_typewriter_X_bold.eot");
}

@media (orientation: landscape){
	div#scroller {
		height: 75%;
	}

	div#score:before {
		content: "Cases solved: "
	}
}

body {
	background-color: #000000;
	font-family: typewriter,Courier New;
	font-size: 12pt;
	/* font-weight: bold; */
	color: #000000;
}

a {
	color: #ffffff;
}

button {
	color: #ffffff;
}

div#top_bar {
	background-color: #aaaaaa;
	color: #000000;
}

div#scroller {
	background-color: #ffffff;
	color: #000000;
	/* line-height: 1.25; */
}
div#scroller a {
	background-color: #000000;
}
div#scroller button {
	background-color: #000000;
}
div#scroller p {
	margin: 0;
	padding: 0;
	text-indent: 1em;
}
span.prompt {
	color: #444444;
	text-transform: lowercase;
}
span.old_prompt {
	color: #666666;
	text-transform: lowercase;
}
span.old_message {
	color: #444444;
}

div#conversation {
	background-color: #ffffff;
	padding: 8px;

	display: none;
}
div#conversation_container {
	background-color: #ffffff;
}

div#conversation a {
	background-color: #000000
}
div#conversation button {
	background-color: #000000
}

div#room_description {
	background-color: #cccccc;
}
div#room_description_container {
	background-color: #cccccc;
}
div#right-column {
	background-color: #cccccc;
}

div#room_description a {
	background-color: #222222;
}
div#room_description button {
	background-color: #222222;
}
div#room_description span.unavailable_exit {
	color: #666666;
}
div#wait {
	background-color: #cccccc;
}
div#wait a {
	background-color: #222222;
}
div#wait button {
	background-color: #222222;
}

div#holding {
	background-color: #bbbbbb;
}
div#holding_container {
	background-color: #bbbbbb;
}

div#holding a {
	background-color: #222222;
}
div#holding button {
	background-color: #222222;
}

div#inventory {
	background-color: #aaaaaa;
}
div#inventory_container {
	background-color: #aaaaaa;
}

div#inventory a {
	background-color: #222222;
}
div#inventory button {
	background-color: #222222;
}

div#save_load a {
	background-color: #111111;
	text-align: center;

}
div#save_load button {
	background-color: #111111;
}

div#saved_games {
	background-color: #111111;
	color: #ffffff;
}
div#saved_games a {
	background-color: #000000;
}
div#saved_games button {
	background-color: #000000;
}

div#options {
	background-color: #444444;
	color: #ffffff;
}

div#options a {
	background-color: #222222;
}
div#options button {
	background-color: #222222;
}

div#credits {
	background-color: #444444;
	color: #ffffff;
}

div#credits a {
	background-color: #222222;
}
div#credits button {
	background-color: #222222;
}

img.npc {
	width: 174px;
	height: 183px;
	float: right;
	}


	div#splashscreen {
	position: fixed;
	top: 0px;
	left: 0px;

	background-color: #444444;
	color: #ffffff;
	width: 90%;
	height: 90%;
	padding: 5%;

	text-align: center;

	display: block;

	line-height: 1.75;

}


a.button {
	color: #ffffff;
	background-color: #ff0000;
	display: inline-block;
	text-decoration: none;
/*	padding: 0.1cm 0.5cm 0.1cm 0.5cm !important; */
	border-radius: 0.25cm;
	border: 0px;
	margin: 2px;
	white-space: nowrap;
}

div#splashscreen img {
	max-height: 60%;
}
div#splashscreen button {
	background-color: #cccccc;
	color: #000000;
	margin: 12px;
	border: 1px solid #222222;
}
div#splashscreen a {

}

img#detectiveland_title {
	max-width: 90%;
	margin: 12px;
}

h2.hints {
	text-align: center;
	margin-top: 3em;
}

div.hintsGroup {
	text-align: center;
	margin-bottom: 8px;
	border-bottom: 1px solid #888888;
}

div.hintsGroupTitle {
	text-transform: uppercase;
	font-size:16pt;
	color: #222222;
}

div.hintsGroup button {
	background-color: #444444;
}
